  /*════════════════════════════════════════════
    Favourites Tab
  ════════════════════════════════════════════*/

/*════════ Opening Message ════════*/
.favourites:not(.overview .favourites) {
    margin-top: 39px;
}

.favourites .favourites:nth-child(1) .section-header::before {
    position: absolute;
    font-size: 16px;
    font-style: italic;
    top: -614px;
    left: 311px;
    visibility: visible;
    color: white;
    content: "anime & manga showcase images change upon hovering a favourite\A shift+scroll or use arrow keys to horizontally navigate the carousel";
    text-align: center;
    white-space: pre-wrap;
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
}

  /*════════════════════════════════════════════
    Anime Grid
  ════════════════════════════════════════════*/
  
/*════════ Showcase Box ════════*/
.favourites:not(.overview .favourites) .favourites:nth-child(1)::before {
    content: "" !important;
    display: block !important;
    width: 100% !important;
    height: 560px !important;
    background: var(--foreground) !important;
    border-radius: var(--border-radius);
    border: var(--border) solid rgb(var(--color-blue)) !important;
    animation: fadeInUp var(--animation-timer-load) var(--cubic-bezier);
}

/*════════ Showcase Image ════════*/
.favourites:not(.overview .favourites) .favourites:nth-child(1)::after {
    content: "" !important;
    position: absolute !important;
    top: 86px;
    left: 94px;
    width: 1054px;
    height: 524px;
    background: url(https://i.imgur.com/MLv4Aiv.jpeg);
    background-position: center !important;
    background-repeat: no-repeat !important;
    border-radius: var(--border-radius);
    background-size: cover !important;
    z-index: 2;
    transition: background var(--master-transition-timer) var(--layout-delay) ease-in-out;
    animation: fadeInUp var(--animation-timer-load) var(--cubic-bezier);
}

body:has(a.favourite:hover) .favourites .favourites:nth-child(1)::after {
    transition: background var(--master-transition-timer) 0s ease-in-out;
}
 
/*════════ Favourites Grid ════════*/ 
.favourites:not(.overview .favourites) .favourites-wrap.anime {
    overflow-x: scroll;
    overflow-y: hidden;
    width: unset;
    overscroll-behavior-x: contain;
    scroll-behavior: smooth;
    display: flex;
    justify-content: flex-start;
    gap: 22.5px;
    padding-inline: 18px !important;
    scroll-padding-inline: 18px !important;
    scroll-snap-type: x proximity;
    cursor: grab;
    position: relative;
    margin-bottom: 80px;
}

.favourites:not(.overview .favourites) .favourites-wrap.anime:focus,
.favourites:not(.overview .favourites) .favourites-wrap.anime:focus-within {
    scroll-behavior: auto;
    scroll-snap-type: none;
}

.favourites:not(.overview .favourites) .favourite {
    min-width: 85px;
    scroll-snap-align: start;
}

  /*════════════════════════════════════════════
    Manga Grid
  ════════════════════════════════════════════*/
  
/*════════ Showcase Box ════════*/
.favourites:not(.overview .favourites) .favourites:nth-child(2)::before {
    content: "" !important;
    display: block !important;
    width: 100% !important;
    height: 560px !important;
    background: var(--foreground) !important;
    border-radius: var(--border-radius);
    border: var(--border) solid rgb(var(--color-blue)) !important;
    animation: fadeInUp var(--animation-timer-load) var(--cubic-bezier);
}

/*════════ Showcase Image ════════*/
.favourites:not(.overview .favourites) .favourites:nth-child(2)::after {
    content: "" !important;
    position: absolute !important;
    top: 909px;
    left: 94px;
    width: 1054px;
    height: 524px;
    background: url(https://i.imgur.com/474AL2u.png);
    background-position: center !important;
    background-repeat: no-repeat !important;
    border-radius: var(--border-radius);
    background-size: cover !important;
    z-index: 2;
    transition: background var(--master-transition-timer) var(--layout-delay) ease-in-out;
    animation: fadeInUp var(--animation-timer-load) var(--cubic-bezier);
}

body:has(a.favourite:hover) .favourites .favourites:nth-child(2)::after {
    transition: background var(--master-transition-timer) 0s ease-in-out;
}
 
/*════════ Favourites Grid ════════*/ 
.favourites:not(.overview .favourites) .favourites-wrap.manga {
    overflow-x: hidden;
    overflow-y: hidden;
    width: unset;
    overscroll-behavior-x: contain;
    scroll-behavior: smooth;
    display: flex;
    justify-content: flex-start;
    gap: 22.5px;
    padding-inline: 18px !important;
    scroll-padding-inline: 18px !important;
    scroll-snap-type: x proximity;
    position: relative;
    margin-bottom: 52px;
}

  /*════════════════════════════════════════════
    Characters Grid
  ════════════════════════════════════════════*/

.favourites:not(.overview .favourites) .favourites-wrap.characters {
    display: grid !important;
    grid-gap: 12px !important;
    grid-template-columns: repeat(5, 85px) !important;
    grid-template-rows: unset !important;  
    grid-auto-rows: minmax(120px, auto) !important;
    column-gap: 17px !important;
    padding: 13px !important;
    padding-top: 18px !important;
    justify-content: center !important;
    width: 530px !important;
    max-height: 417px;
    overflow-x: hidden !important;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
    scroll-padding: 18px !important;
    padding-inline: 18px !important;
}

  /*════════════════════════════════════════════
    Staff Grid
  ════════════════════════════════════════════*/

.favourites:not(.overview .favourites) .favourites-wrap.staff {
    position: absolute !important;
    top: 1713.5px !important;
    left: 635px;
    display: grid !important;
    grid-gap: 12px !important;
    grid-template-columns: repeat(5, 85px) !important;
    grid-template-rows: unset !important;  
    grid-auto-rows: minmax(120px, auto) !important;
    column-gap: 17px !important;
    padding: 13px !important;
    padding-top: 18px !important;
    justify-content: center;
    width: 530px !important;
}

  /*════════════════════════════════════════════
    Studios Grid
  ════════════════════════════════════════════*/

.favourites:not(.overview .favourites) .favourites-wrap.studios {
    margin-top: -70px;
    display: grid !important;
    grid-template-columns: repeat(2, 376px) !important; 
    grid-template-rows: unset !important;
    grid-auto-rows: minmax(120px, auto) !important;
    justify-items: center; 
    justify-content: center; 
    max-width: 100%; 
    width: 100%; 
    column-gap: 119px !important; 
}

.favourites:not(.overview .favourites) .favourite.studio {
    top: 5px;
    min-height: 135px;
    position: relative;
    color: transparent;
    margin-top: -5px !important;
    margin-bottom: 6px !important;
    box-shadow: none !important;
    width: 416px !important; 
}

  /*════════════════════════════════════════════
    Hide Category Titles
  ════════════════════════════════════════════*/

.favourites:not(.overview .favourites) .favourites:nth-child(1) .section-header .actions, .favourites:not(.overview .favourites) .favourites:nth-child(2) .section-header .actions, .favourites:not(.overview .favourites) .favourites:nth-child(3) .section-header .actions, .favourites:not(.overview .favourites) .favourites:nth-child(4) .section-header .actions, .favourites:not(.overview .favourites) .favourites:nth-child(5) .section-header .actions {
    display: none !important;
}

.favourites .favourites:nth-child(1) .section-header, .favourites .favourites:nth-child(2) .section-header, .favourites .favourites:nth-child(3) .section-header, .favourites .favourites:nth-child(4) .section-header, .favourites .favourites:nth-child(5) .section-header {
    position: relative !important;
    visibility: hidden !important;
}

  /*════════════════════════════════════════════
    Anime Showcase Images
  ════════════════════════════════════════════*/

/*════════ CLANNAD: After Story ════════*/
body:has(a.favourite[href*="anime/4181/"]:hover) .favourites .favourites:nth-child(1)::after {
    background: url(https://c4.wallpaperflare.com/wallpaper/807/554/564/clannad-tomoya-okazaki-ushio-okazaki-okazaki-ushio-wallpaper-preview.jpg);
}

/*════════ Fate Stay Night ════════*/
body:has(a.favourite[href*="anime/19603/"]:hover) .favourites .favourites:nth-child(1)::after {
    background: url(https://c4.wallpaperflare.com/wallpaper/1020/798/434/saber-fate-stay-night-unlimited-blade-works-wallpaper-preview.jpg);
}

/*════════ A Silent Voice ════════*/
body:has(a.favourite[href*="anime/20954/"]:hover) .favourites .favourites:nth-child(1)::after {
    background: url(https://i.imgur.com/qQSJ8ZH.jpeg);
}

/*════════ Violet Evergarden ════════*/
body:has(a.favourite[href*="anime/21827/"]:hover) .favourites .favourites:nth-child(1)::after {
    background: url(https://wallpapers.com/images/hd/poster-a-silent-voice-mit-charakteren-a6q9kq6tb8oalsbn.jpg);
}

/*════════ Dororo ════════*/
body:has(a.favourite[href*="anime/101347/"]:hover) .favourites .favourites:nth-child(1)::after {
    background: url(https://i.pinimg.com/736x/aa/91/b1/aa91b1c23202d20399131ddf79f3b568.jpg);
}

/*════════ Samurai Champloo ════════*/
body:has(a.favourite[href*="anime/205/"]:hover) .favourites .favourites:nth-child(1)::after {
    background: url(https://c4.wallpaperflare.com/wallpaper/273/209/254/samurai-champloo-samurai-anime-mugen-wallpaper-preview.jpg);
}

/*════════ MONSTER ════════*/
body:has(a.favourite[href*="anime/19/"]:hover) .favourites .favourites:nth-child(1)::after {
    background: url(https://i.redd.it/monster-wallpapers-v0-af09xj2zljye1.png?width=2556&format=png&auto=webp&s=6cc53ab9be3664a1548eff051b896f4020b8d758);
}

/*════════ Mononoke ════════*/
body:has(a.favourite[href*="anime/2246/"]:hover) .favourites .favourites:nth-child(1)::after {
    background: url(https://occ-0-8407-2218.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABSp3vHGulGu4VGkyJ3wicTT78VfWDHX0SY44dayoxafH3BUoKMV1hXZfz_T4c9AkVHYcoBAlhQGXairMy4CqF436HceXey_Lq7HC.jpg?r=c55);
}

/*════════ The Apothecary Diaries ════════*/
body:has(a.favourite[href*="anime/161645/"]:hover) .favourites .favourites:nth-child(1)::after {
    background: url(https://c4.wallpaperflare.com/wallpaper/932/88/968/anime-girls-anime-night-snow-the-apothecary-diaries-hd-wallpaper-preview.jpg);
}

  /*════════════════════════════════════════════
    Manga Showcase Images
  ════════════════════════════════════════════*/
  
/*════════ Vagabond ════════*/
body:has(a.favourite[href*="/manga/30656/"]:hover) .favourites .favourites:nth-child(2)::after {
    background: url(https://wallpapercave.com/wp/wp13100974.jpg);
}

/*════════ Tokyo Ghoul:re ════════*/
body:has(a.favourite[href*="/manga/85611/"]:hover) .favourites .favourites:nth-child(2)::after {
    background: url(https://i.pinimg.com/736x/36/df/6c/36df6c11bd8f7b411a5735ade1b32300.jpg);
}

/*════════ Magi ════════*/
body:has(a.favourite[href*="manga/44790/"]:hover) .favourites .favourites:nth-child(2)::after {
    background: url(https://wallpapers-clan.com/wp-content/uploads/2024/05/magi-sinbad-twilight-desktop-wallpaper-preview.jpg);
}

/*════════ D.Gray-man ════════*/
body:has(a.favourite[href*="manga/30024/"]:hover) .favourites .favourites:nth-child(2)::after {
    background: url(https://i.pinimg.com/1200x/80/8b/93/808b93dd7d8c11f159f8c205b6db49b2.jpg);
}

/*════════ Frieren ════════*/
body:has(a.favourite[href*="manga/118586/"]:hover) .favourites .favourites:nth-child(2)::after {
    background: url(https://i.pinimg.com/1200x/f6/7d/d3/f67dd32d2e2adc34f5a4c1fcfd54e6de.jpg);
}
