/*════════ Global Navbar Styling ════════*/
#nav.nav { /* Sets height and width */
    height: 45px !important;
    background-color: var(--foreground) !important;
    transition: all 0s ease 0s, top 0.4s var(--cubic-bezier) 0s !important;
    left: calc((100% - 420px) / 2);
    width: 420px;
    margin-top: 20px;
    border-radius: var(--border-radius) !important;
    border: var(--border) solid rgb(var(--profile-color-rgb));
}

#nav .browse-wrap { /* Adjusts "Browse" */
    position: absolute;
    left: 262px;
    width: 18px;
}

#nav .browse-wrap > .link {
    left: 1px;
}

#nav .browse-wrap > .link:after { 
    content: "";
    position: absolute;
    top: 21%;
}

#nav .logo { /* Hides the AL logo */
    display: none;
}

#nav .void-quick-start-nav-button { /* Hides VoidVerified Quick Start */
    display: none;
}

.transparent .search[data-v-62eacfff] svg, .search[data-v-62eacfff] svg { /* Initial svg */
    color: #ffffff;
    transition: color var(--master-transition-timer) ease-in-out;
    transform: scale(0.79);
    position: relative;
    right: 1px;
    bottom: 0.5px;
}

#nav .user .chevron {
    display: none;
}

#nav > div.wrap > div.links > a:nth-child(6) {
    display: none;
}

#nav .links > a, #nav > div.wrap > div.links > span > a {
    position: relative;
    visibility: hidden;
}

#nav .links > a::before, #nav > div.wrap > div.links > span > a::before {
    visibility: visible;
    font-family: "FontAwesome";
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: color var(--master-transition-timer);
}

#nav .links > a:hover::before, #nav > div.wrap > div.links > span > a:hover::before, #nav:has(.dropdown[data-v-38edf8f8]:hover) div.links > span > a::before, #nav .browse-wrap:hover .link::before {
    color: var(--profile-color);
}

#nav .links > a:nth-child(1)::before {
    content: "\f015";
    font-size: 20px;
    left: 55px;
    padding-top: 0px;
}

#nav .links > a:nth-child(2)::before {
    font-family: "bootstrap-icons";
    content: "\F4DB";
    font-size: 19px;
    left: 43px;
}

#nav .links > a:nth-child(3)::before {
    content: "\f04b";
    font-size: 16px;
    left: 24px;
}

#nav .links > a:nth-child(4)::before {
    content: "\f02e";
    font-size: 17px;
    left: 0px;
}

#nav > div.wrap > div.links > span > a::before {
    font-family: "bootstrap-icons";
    content: "\F479";
    font-size: 24px;
}

#nav > div.wrap > div.links > span > div {
    left: -76px;
}

#nav .links {
    position: relative;
    left: -5%;
    z-index: 1;
}

#nav .user .avatar {
    transform: scale(0.7);
    position: relative;
    left: -5px;
    transition: transform var(--master-transition-timer);
}

#nav .user .user-wrap {
    left: 20px;
}

#nav .user .user-wrap:hover .avatar {
    transform: scale(0.8) !important;
}

#nav .user .notification-dot {
    position: absolute;
    bottom: 23px;
    left: 38px !important;
    transform: scale(0.75);
}

#nav .user .notification-dot:hover {
    transform: scale(0.85);
}

#nav .dropdown { 
    background: var(--foreground);
    transition: opacity var(--master-transition-timer) ease-in-out;
}

#nav .dropdown[data-v-38edf8f8] {
    top: 46px;
}

#nav .links, #nav .search {
    opacity: 1;
    transition: opacity var(--master-transition-timer), transform var(--master-transition-timer);
}

#nav:has(.user-wrap:hover) .links, #nav:has(.user-wrap:hover) .search {
    transform: translateX(-15px);
    opacity: 0;
    pointer-events: none;
}

#nav .user-wrap > .dropdown {
    top: -3px;
    right: 35px;
    position: absolute;
    min-width: 380px;
    max-height: 45px;
    visibility: hidden;
    animation: none !important;
}

#nav .user-wrap::after {
    display: none;
}

#nav .user-wrap > .dropdown > * {
    visibility: visible;   
}

#nav .user-wrap > .dropdown .footer {
    background-color: transparent !important;
}

#nav .user-wrap > .dropdown .secondary-link:nth-child(-n+3) {
    display: none;   
}

#nav .user-wrap > .dropdown .primary-links .label {
    display: none;
    pointer-events: none;
}

#nav .user-wrap > .dropdown .primary-link {
    max-width: 10px;
    transform: scale(1.2) translateX(15px);
    position: absolute;
    top: 14px;
    opacity: 0;
    transition: all var(--master-transition-timer);
}

#nav:has(.user-wrap:hover) .user-wrap > .dropdown .primary-link:not(:nth-child(1)) {
    opacity: 1;
    transform: scale(1.2) translateX(0px);
}

#nav:has(.user-wrap:hover) .user-wrap > .dropdown .primary-link:nth-child(1) {
    opacity: 1;
    transform: scale(1.1) translateX(0px);
}

#nav .user-wrap > .dropdown .primary-link:nth-child(1) {
    left: 74px;
}

#nav .user-wrap > .dropdown .primary-link:nth-child(2) {
    left: 144px;
}

#nav .user-wrap > .dropdown .primary-link:nth-child(3) {
    left: 212px;
}

#nav .user-wrap > .dropdown .secondary-link:nth-child(4) {
    font-size: 0;
    position: absolute;
    top: 11px;
    left: 280px;
    opacity: 0;
    transform: translateX(15px);
    transition: all var(--master-transition-timer);
}

#nav:has(.user-wrap:hover) .dropdown .secondary-link:nth-child(4) {
    opacity: 1;
    transform: translateX(0px);
}

#nav .user-wrap > .dropdown .secondary-link:nth-child(4) svg {
    font-size: 20px;
    transition: color var(--master-transition-timer);
}

#nav:has(.user-wrap:hover) .dropdown .secondary-link:nth-child(4):hover svg {
    color: #a3100a;
}
